body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe,#00f2fe);
    margin: 0;
    padding: 0;
}
h1,h2 {
    text-align: center;
    color: white;
}
.container{
    text-align: center;
    margin-top: 150px;
}
a{
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background-color: white;
    color: #007bff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
a:hover{
    background-color: #007bff;
    color: white;
}
form{
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}